* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

.banner-area {
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image: url(https://images.pexels.com/photos/4386442/pexels-photo-4386442.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.banner-area h2 {
    padding-top: 8%;
    font-size: 90px;
    font-family: poppins;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgb(11, 199, 55);
    color: rgb(28, 28, 28);
}

.content-area {
    width: 100%;
    position: relative;
    top: 450px;
    background: url(https://images.pexels.com/photos/6331082/pexels-photo-6331082.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: 750px;
}

.content-area h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline rgb(80, 205, 7);
    text-shadow: 2px 2px 2px black;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 60px;
    margin: 0;
}

.content-area p {
    padding: 2% 0px;
    font-family: poppins;
    line-height: 30px;
    font-size: 30px;
}

.content-area i {
    font-size: 40px;
    color: black;
}